<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="/Mentor/Dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Mentor/Students">Sinh viên phụ trách</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Mentor/Tasks">Giao nhiệm vụ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/Mentor/Evaluations">Đánh giá sinh viên</a>
    </li>
</ul>
